<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DayZ_MAAT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <DayZ_MAAT.Properties.Settings>
            <setting name="LanguageKey" serializeAs="String">
                <value>init</value>
            </setting>
            <setting name="EULA" serializeAs="String">
                <value>False</value>
            </setting>
        </DayZ_MAAT.Properties.Settings>
    </userSettings>
</configuration>